@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background-light: #2F3132;
  --color-background-dark: #252728;
  --color-surface: #181A1B;
  --color-neutral: #C4BDB2;
  --color-primary: #9D9588;
  --color-secondary: #616161;
  --color-tertiary: #1E2021;
  --color-gray: #565D61;
  --color-red: #B62A0A;
  --color-orange: #AC400E;
  --color-yellow: #80660F;
  --color-green: #3E8A49;
  --color-teal: #2080A7;
  --color-blue: #164295;
  --color-lcd-light: #A8C64E;
  --color-lcd-dark: #3C412C;
  --color-bug: #92BD2D;
  --color-dark: #595761;
  --color-dragon: #0C6AC8;
  --color-electric: #F2D94E;
  --color-fairy: #EF90E6;
  --color-fighting: #D3425F;
  --color-fire: #FBA64C;
  --color-flying: #A1BBEC;
  --color-ghost: #5F6DBC;
  --color-grass: #60BD58;
  --color-ground: #DA7C4D;
  --color-ice: #76D1C1;
  --color-normal: #A0A29F;
  --color-poison: #B763FF;
  --color-psychic: #FA8582;
  --color-rock: #C9BC8A;
  --color-steel: #5795A3;
  --color-water: #539DDF;
}

html,
body {
  @apply bg-[var(--color-background-light)] dark:bg-[var(--color-background-dark)];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2B2B2B33;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2B2B2B;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@layer base {
  @keyframes blink {
    0% { opacity: .8; }
    33% { opacity: 1; }
    100% { opacity: .8; }
  }
}